@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
html,
body {
  text-align: center;
  padding: 0;
  margin: 0;
  font-family: "Roboto", Verdana;
  font-size: 16px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
h1{
  font-family: "Montserrat", Verdana;
  font-size: 4rem;
}
#equals,#decimal{
  padding: 1.05rem 0;
}
#multiply,#add,#subtract{
  padding:0.57rem 0;
}
#delete,#divide{
  padding: 1.1rem 0;
}
footer{
  margin-top:1rem;
}
a{
  color:rgb(218, 218, 255);
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}