.container{
  position: absolute;
  width: 100%;
  font-family: "Roboto" ,Verdana;
  background: linear-gradient(90deg,rgba(17, 17, 17, 0.7),rgba(17, 17, 17, 0.7)), url('/bgimage.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  height: 100vh;
  min-height: 580px;
}
.calculator_container{
  width:20rem;
  background-color: black;
  font-size: 2rem;
  padding:0.25rem;
}
.main_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}